.address {
    display: flex;
    flex-direction: column;
    width: 268px;
    margin: 0 auto;
    margin-bottom: 72px;
    
    // align-items: start;

    @media screen and (min-width: 768px) {
        width: 264px;
        margin-right: 24px;
        margin-left: 93px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 264px;
        margin-right: 120px;
        margin-left: 0;
    }
}

.page-footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-light);
    text-align: left;

    @media screen and (min-width: 1200px) {
        width: 264px;
    }
}