.address {
    width: 268px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
        margin-right: 24px;
        margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 120px;
    }
}

.page-footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-light);
}