.icons {
    display: flex;
    justify-content: center;
    list-style: none;

    .join & {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 60px;
    }
}

.icons__list {
    margin-left: 24px;

    &:first-child {
        margin-left: 0;
    }

   
}

.icons__list-footer {
    margin-left: 16px;

    &:first-child {
        margin-left: 0;
    }
}

.icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: var(--cloud-light);
    background-color: var(--iris-primary-brand);
    border-radius: 50%;

    .join & {
        color: var(--cloud-light);
        background-color: var(--slate-text);
        border-radius: 50%;
        transition-property:  color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover, 
        &:focus {
            background-color: var(--green-success);
            color: var(--cloud-light);
        }
    }
}

.icons__svg {
    width: 20px;
    height: 20px;
    align-items: center;
    fill: currentColor;
}