.join {
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: column;
        margin-right: 94px;
        margin-left: 0;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white);
        margin-bottom: 16px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }
}