.page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--navybluemodal-modaloverlay);

    @media screen and (min-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 100px;
        
    }

    &__container {
        @extend %container;
       
        
        @media screen and(min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            align-items: baseline;
            text-align: left;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            // text-align: start;
            margin-left: 0;
            justify-content: center;
        }
    }
}