%container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        max-width: 1158px;
      
       
    }
}

%list {
    list-style: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }
    
}

%section {
    padding-top: 96px;
    padding-bottom: 96px;

    @media screen and (min-width: 1200px){
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

%section-title {
    margin-bottom: 72px;
    color:var(--navy-blue-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px; 
    overflow: hidden; 
    border: 0; 
    padding: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    margin: -1px; 
}