:root {
    --iris-primary-brand: #4D5AE5;
    --ocean-pressed-state:#404BBF;
    --navy-blue-dark: #2E2F42;
    --green-success: #31D0AA;
    --slate-text: #434455;
    --light-slate-subtle-text: #8E8F99;
    --cornflower-accent: #E7E9FC;
    --cloud-light: #F4F4FD;
    --navybluemodal-modaloverlay: #2E2F42;
    --grey-hero-background: #2E2F42;
    --white: #FFFFFF;
}